
@{
    ViewBag.Title = "New";
}

<body>


    <nav style="margin-bottom:30px; overflow:hidden;">
        <a style="float:left" class="navlink" href="/Teacher/List">Back to Teachers</a>
    </nav>

    <h2 id="head1">New Teacher</h2>

    <form method="POST" action="/Teacher/Create" name="newteacher">
        <div class="inputrow">
            <label for="TeacherFname">First name</label>
            <input type="text" id="TeacherFname" name="TeacherFname" />
        </div>

        <div class="inputrow">
            <label for="TeacherLname">Last name</label>
            <input type="text" id="TeacherLname" name="TeacherLname" />
        </div>

        <div class="inputrow">
            <label for="EmpNumber">Employee Number</label>
            <input type="text" id="EmpNumber" name="EmpNumber" />
        </div>

        <div class="inputrow">
            <label for="Salary">Salary</label>
            <input type="text" id="Salary" name="Salary" />
        </div>

        <div>
            <input type="submit" value="Create Teacher" id="createbtn" />
        </div>

    </form>


    <style>

        .inputrow {
            margin-bottom: 10px;
        }

            .inputrow input {
                float: right;
                padding: 5px;
            }

        #createbtn {
            background-color: midnightblue;
            color: #fff;
            border-radius: 10px;
        }
    </style>


    <script>
        window.onload = function () {

            var headline = document.getElementById("head1");
            console.log("page loaded");

            //  var formData to access the form from the html file

            var formData = document.forms.newteacher;
            console.log(formData);

            // variables to access the user input from the form
            // First Name
            var fname = formData.TeacherFname;
            // Last Name
            var lname = formData.TeacherLname;
            // Employee number
            var empno = formData.EmpNumber;
            // Salary
            var teachersalary = formData.Salary;
            // check the employee number with a regular expression
            // the employee number -- T114, T234 ...
            var regExp = /(t|T)\d{3}/;

            const decimalVal = /\d+\.\d+/;


            // onsubmit event to call the processForm function
            formData.onsubmit = processForm;

            // function to perfom the logic on submitting the form
            function processForm() {

                console.log("process form works");

                // logic to alert the user about an empty field
                if (fname.value === "") {

                    fname.style.background = "red";
                    fname.focus();
                    // alert("enter firstname")
                    return false;
                }

                else if (lname.value === "") {

                    lname.style.background = "red";
                    lname.focus();
                    return false;
                }

                // The regExp checks if the employee number is satisfied - T103, T777
                else if (empno.value === "" || !regExp.test(empno.value)) {
                    empno.style.background = "red";
                    empno.focus();
                    return false;
                }

                else if (teachersalary.value === "" || !decimalVal.test(teachersalary.value)) {
                    teachersalary.style.background = "red";
                    teachersalary.focus();
                    return false;
                }

                else {
                    return true;
                }


            }
        }
    </script>
</body>